html, body {
  width: auto !important;
  overflow-x: hidden !important;
  z-index:1;
}

.bs-callout{
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info{
  border-left-color: #1b80ee;
}

.wmd-panel{
  margin-left: 0 !important;
  margin-right: 0 !important;
}