{% extends 'commten/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Index Page Full Screen Picture with Title  -->

<div id="index-pic">
    <div id="index_inner-text">
        <strong style="font-size:50px; color:orange;" class="pull-left"><img style="margin-top:-30px; width:60px; height:60px;" src="{% static 'img/commtenLogo.png' %}" ></img> Notice Board
        </strong>
        <br/>
        <div style="">
            <p>

            </p>
        </div>

    </div>
</div>


<!-- Home Page Content -->

<div class="container">


</div>
    <!-- SubSection Banner -->

<div id="sub-section">
    <div>The best way to communicate with you building management. </div>
</div>

{% endblock %}