{% extends 'commten/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Index Page Full Screen Picture with Title  -->


<div style="margin:50px; ">
        <strong style="font-size:50px; color:orange;" class="pull-left"><img style="margin-top:-30px; width:60px; height:60px;" src="{% static 'img/commtenLogo.png' %}" ></img> Privacy Policy </strong><br/>
        <br/>

        <div style=" margin-top:80px; background-color:white ;>
         <p style="font-size: 12;" align= "center">

             ===Commten Privacy Policy=== <br/> <br/>

             This policy describes how Commten uses and handles your information. <br/> <br/>

             ==Information used by Commten== <br/> <br/>

             When you create an account with Commten, the following information is required: <br/>
             - Username <br/>
             - Password <br/>
             - Name <br/>
             - E-mail address <br/>
             - Physical address <br/>
             You do not have to use your real name on Commten. <br/> <br/>

             ==Why this Information is Collected== <br/> <br/>

             This information is associated with your account, and is necessary for Commten to function. Physical address is needed to connect your account to your apartment management in the system. E-mail address is needed for verification purposes. The name you provide will be displayed in the application on your tickets.
<br/> <br/>
             ==Data Deletion==
<br/> <br/>
             You can delete your account with Commten by clicking the "Delete Account" button in the Account Info page. When you delete your account, all account and ticket data is cleared.
<br/> <br/>
             ==System Permissions==
<br/> <br/>
             Commten requires use of the device camera and photo gallery in order to allow attaching images to tickets.
<br/> <br/>

         </p>

        </div>
</div>
{% endblock %}


