{% load staticfiles %}
{% load widget_tweaks %}
<html>

<!-- Head Section includes static files ( CSS, javascript, and third party plugin style ) -->

<head>
    {% block pagedown %}{% endblock pagedown %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}/"/>
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/reset.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/my_css.css' %}" >
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="{% static 'custom_js/my_js.js' %}"></script>
</head>

<!-- Body Section -->

<body>
<div class="page-wrap">
<!-- FaceBook Comment Plugin Section -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=251648261836948";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


 <!-- Navigation Bar Section -->

<nav class="navbar-inverse navbar-fixed-top" style="opacity: 0.9;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home_page' %}">PostGram</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home_page' %}">Home</a></li>
        <li><a href="{% url 'posts' %}">Post</a></li>
        <li><a href="{% url 'music' %}">Music</a></li>
        <li><a href="#" id="album">Album</a></li>
        <li><a href="{% url 'follow' %}">Find People</a></li>
        <li><a href="#" id="login_user">Welcome, {{ user.username }}. Thanks for logging in.</a></li>
        <a href="{% url 'logout' %}" class="btn btn-primary btn-sm navbar-btn pull-right">Logout</a>
      </ul>
      {% else %}
       <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Already have an account?</p></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                     <div class="row">
                            <div class="col-md-12">
                                Login via
                                <div class="social-buttons">
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-gp"><i class="fa fa-google-plus"></i> Google+</a>
                                </div>
                                or
                                 <form class="form" role="form" method="POST" action="/login/" accept-charset="UTF-8" id="login-nav">{% csrf_token %}
                                        <div class="form-group">
                                             <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                             <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                             <label class="sr-only" for="exampleInputPassword2">Password</label>
                                             <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                             <label>
                                             <input type="checkbox"> keep me logged-in
                                             </label>
                                        </div>
                                 </form>
                            </div>
                            <div class="bottom text-center">
                                    New here ? <a href="{% url 'signup' %}"><b>Join Us</b></a>
                            </div>
                     </div>
                </li>
            </ul>
        </li>
    </ul>
  {% endif %}
  </div>
  </div>
</nav>

<!-- Portfolio Item Heading -->

<div class="row">
    <div class="col-md-12">
            <!-- Portfolio Item Heading -->
        {% block content %}
        {% endblock %}

    </div>
</div>
</div>
<!--Footer-->

<footer class="site-footer">
    <div class="container site-info">
        <div class="row">
            <div class="col-md-6 text-center">
                <address>
                  <h2>Like What You See Here?</h2>
                  <p>Let me know if you find anything that interest you</p>
                  <p>I'm here to share and learn</p>
                  <p></p><strong>Wentworth Institute of Technology   |   550 Huntington Avenue   |   Boston, MA 02115   |   617-989-4590</strong></p><br>
                </address>
            </div>
            <div class="col-md-6">
                <div class=" text-center">
                    <h1>I'M: </h1>
                    <h3><strong>Weijie Lin</strong><br><a href="mailto:#">linw3@wit.edu</a></h3><br>
                </div>
            </div>
        <div class="col-md-6 text-center">
            <a href="https://www.facebook.com/jervis.lin.1"><i class="fa fa-facebook fa-1x" style="color:white; padding: 10px;"></i></a>
            <a href="https://www.linkedin.com/pub/weijie-lin/a8/27b/61b"><i class="fa fa-linkedin fa-1x" style="color:white; padding: 10px;"></i></a>
            <a href="https://github.com/jervislam0911/Postgram"><i class="fa fa-github fa-1x" style="color:white; padding: 10px;"></i></a>
        </div>
        </div>
        <div class="col-md-12 text-center">© 2016 All Right Reserved by PostGram</div>
    </div>
</footer>

</body>


</html>