{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% block content %}


<!-- Index Page Picture with Title  -->

<div id="index-pic">
    <div id="index_inner-text">
        <h1><span class="glyphicon glyphicon-link"></span> Don't miss things from others
            <small>Here is the channel for you and me to share and enhance the knowledge</small>
        </h1>
    </div>
</div>


<!-- Home Page Content -->

<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="grid-inside">
                <img class="grid-inside-logo" src="{% static 'img/Python.png' %}" title="python">
                <img class="grid-inside-logo" src="{% static 'img/JavaCoffeeCupLogo.png' %}" title="java">
                <img class="grid-inside-logo" src="{% static 'img/Html5.png' %}" title="html5">
                <img class="grid-inside-logo" src="{% static 'img/CSS3.png' %}" title="css3">
                <img class="grid-inside-logo" src="{% static 'img/GitHub.png' %}" title="github">
                <img class="grid-inside-logo" src="{% static 'img/Selenium.png' %}" title="selenium">
            </div>
        </div>
    </div>

    <h2 class="text-center">
        SHARE THE THINGS IN YOUR MIND
    </h2>

</div>
{% endblock %}