{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% block content %}


<!-- Index Page Picture with Title  -->

<div id="index-pic">
    <div id="index_inner-text">
        <div class="col-md-12">
            <h1><span class="glyphicon glyphicon-link"></span> Don't miss things from others
                <small>Here is the channel for you and me to share and enhance the knowledge</small>
            </h1>
        </div>

    </div>
</div>


<!-- Home Page Content -->

<div class="container">
    <h5 class="text-center">This is home</h5>

</div>
{% endblock %}